@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}






/* ========================================
    レイアウト用
========================================= */

body{
	font-family: 'Courier New', sans-serif;
	font-size: 14px;
	background: #FFF;
}


/* ========================================
    ヘッダー用
========================================= */
header {
	width: 100%;
	height: 25px;
	background-color: #667276;
	padding: 12px 0;
	position: relative;
}

header h1 {
	font-size: 24px;
	color: #F2F2F2;
	height: 25px;
	font-family: Roboto;
	text-align: center;
}

/* ========================================
    ボディ用
========================================= */
.container {
	margin: 20px auto;
	width: 512px;
	background: #fff;
	padding: 15px;
	font-family: Roboto;
	text-align: center;
}

ul.plusButtons li{
	cursor: pointer;
	user-select:none;
	width: 39px;
	background: #667276;
	color: #FFF;
	height: 39px;
	line-height: 39px;
	float: left;
}


li:first-child{
	margin-left: 24px;
}
li:nth-child(even){
	margin-left: 94px;
}
li:nth-child(3){
	margin-left: 41px;
}
li:nth-child(5){
	margin-left: 41px;
}

li > div:hover{
	opacity: 0.7;
}


div.clear{
	clear: both;
}

#timer {
	background: #fff;
	color:#667276;
	height: 120px;
	line-height: 120px;
	font-size: 128px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

ul.minusButtons li{
	cursor: pointer;
	user-select:none;
	width: 39px;
	background: #667276;
	color: #FFF;
	height: 39px;
	line-height: 39px;
	float: left;



}

.controls > div {
	cursor: pointer;
	user-select:none;
	width: 100px;
	background: #667276;
	color: #FFF;
	height: 45px;
	line-height: 45px;
	float: left;
	margin-top: 30px;
}

.controls{
	overflow: hidden;
}

.controls > div + div {
	margin-left: 15px;
}

.controls > div:hover{
	opacity: 0.7;
}

#start{
	margin-left: 104px;
}

#reset{
	margin-left: 104px;
}

#orderText{
	width: 512px;
	height: 130px;
	margin-top: 24px;


}


.orderLargeText{
	width: 512px;
	color: #667276;
	font-size: 36px;
	text-align: left;
	white-space: pre-wrap;
}


.textControl >div{
	cursor: pointer;
	user-select:none;
	width: 100px;
	background: #667276;
	color: #FFF;
	height: 45px;
	line-height: 45px;
	float:right;
}

.textControl{
	overflow: hidden;
}

.textControl > div:hover{
	opacity: 0.7;
}


/* ========================================
    フッター用
========================================= */
footer {
	width: 100%;
	height: 15px;
	background-color: #667276;
	margin-top: 10px;
	font-size: 10px;
	font-family: Roboto;
	color: #F2F2F2;
	text-align: right;
}
footer a{
	text-decoration: none;
	color: #F2F2F2;
}